.nodelist-avatar {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin-right: 10px;
}

.node-detail {
    color: #333;
}


.node-list--header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom:10px;
}


.node-list--header-left {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.node-list--header-right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.nodelist-name{
    display:flex;
    align-items:center;
}
