@import './media.scss';
@import './vars.scss';
@import './layout.scss';

#main {
    background-color: #f8f8f8;

}

.main-body {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 85px;
    min-height: 800px;
    padding-bottom: 100px;
    @include layout-min-960();
}

.page-title {
    display: block;
    font-size: 36px;
    color: $mainFontColor;
    margin-bottom: 24px;
}


.page-sub-title {
    height: 30px;
    display: block;
    font-size: 16px;
    color: $mainFontColor;
    margin-top: 24px;
}


.row-dark {
    background-color: #fbfbfb;
}

.footer__wrapper {
    background-color: $mainFontColor;
    color: #fff;
    padding-top: 40px;
    overflow: hidden;

    .links__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .link-group {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;

    }


    .link-group-item {
        margin-right: 150px;
    }

    .link-group-title {
        height: 34px;
        font-size: 25px;
    }

    .link-group-sub {
        margin-top: 5px;
        margin-left: 5px;
    }

    .link {
        font-size: 15px;
        color: #979ea5;
        height: 30px;
        line-height: 30px;
    }

    .copy-right {
        font-size: 11px;
        color: #fff;
        height: 20px;
        text-align: center;
        margin: 20px 0;
    }
}


.column-title {
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #6c737a;

    &:after {
        content: ':'
    }
}

.column-text {
    font-family: Monospace;
    font-size: 12px;
    word-break: break-all;
}

.nodes-item {
    padding-left: 10px;
    margin: 0;
    color: #455ec7;

    // &:before {
    //     content: '✦'
    // }
}

.text-number {
    color: rgb(100, 45, 45);
}

.text--ellipsis {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.ellipsis--short {
        width: 150px;
    }

    &.ellipsis--mid {
        width: 300px;
    }

    &.ellipsis--long {
        width: 450px;
    }
}

.ellipsis--wrapper {}

.ellipsis--border {
    display: inline-block;
    height: 33px;
    padding: 0 10px;
    background-color: #0496ff1a;
    border-radius: 16px;
    line-height: 33px;
    margin-bottom: 5px;
    transition: box-shadow 0.2s linear;
    cursor: default;

    &:hover {
        background-color: #fff;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .16);
    }
}
