@import './media.scss';
@import './vars.scss';
@import './layout.scss';

#main {
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-body {
    width: 1240px;
    margin: 0 auto;
    padding: 90px 0 0 0;
    min-height: 800px;
    flex: 1; // padding-bottom: 100px;
    // @include layout-min-960();
}

.page-title {
    display: block;
    font-size: 24px;
    color: $mainFontColor;
    margin: 28px 0 20px 0;
}


.page-sub-title {
    font-weight: 600;
    height: 30px;
    display: block;
    font-size: 16px;
    color: $mainFontColor;
    margin-top: 24px;
}


.row-dark {
    background-color: #fbfbfb;
}

.footer__wrapper {
    // background-color: $mainFontColor;
    color: #fff;
    padding-top: 40px;
    overflow: hidden;
    background: linear-gradient(98.21deg, #5A4BC6 -3.5%, #211A54 57.15%);

    .footer__container {
        width: 1240px;
        margin: 0 auto;
    }

    .links__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-link--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        & img {
            width: 20px;
            margin: 0 20px;
        }
    }

    .document-link--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;

        &>.link:not(:last-child) {
            &:after {
                content: '|';
                color: #fff;
                margin: 0 10px;
            }
        }
    }

    .link {
        font-size: 15px;
        color: #979ea5;
        height: 30px;
        line-height: 30px;

        &.change-lang {
            color: #fff;
            cursor: pointer;
        }
    }

    .copy-right {
        font-size: 11px;
        color: #979EA5;
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid #655CA1;
    }
}


.column-title {
    display: block;
    font-size: 16px;
    color: #666;

    &:after {
        content: ':'
    }
}

.column-text {
    color: #000;
    font-size: 16px;
    word-break: break-all;
}

.nodes-item {
    padding-left: 10px;
    margin: 0;
    color: #455ec7;

    // &:before {
    //     content: '✦'
    // }
}

.text-number {
    // color: rgb(100, 45, 45);
}

.text--ellipsis {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.ellipsis--short {
        width: 150px;
    }

    &.ellipsis--mid {
        width: 300px;
    }

    &.ellipsis--long {
        width: 450px;
    }
}

.ellipsis--wrapper {}

.ellipsis--border {
    display: flex;
    cursor: pointer;

    &:hover {
        color: rgb(20, 68, 199);
        text-decoration: underline;
    }
}


.link-column-text {
    color: #1890ff
}

.node-status__tag {
    display: flex;
    height: 20px;
    width: 56px;
    align-items: center;
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    font-size: 12px;

    &.tag--active {
        border-color: #38AF94;
        color: #38AF94;
        background-color: #D7EFEA;
    }

    &.tag--inactive {
        border-color: #9f9f9f;
        color: #9f9f9f;
        background-color: #F1F1F1;
    }
}
