@import './media.scss';
@import './vars.scss';
@import './layout.scss';

#main {
    background-color: #f8f8f8;

}

.main-body {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
    min-height: 800px;
    padding-bottom: 100px;
    @include layout-min-960();
}

.page-title {
    display: block;
    font-size: 24px;
    color: $mainFontColor;
    margin-bottom: 24px;
}


.page-sub-title {
    height: 30px;
    display: block;
    font-size: 16px;
    color: $mainFontColor;
    margin-top: 24px;
}


.row-dark {
    background-color: #fbfbfb;
}

.footer__wrapper {
    background-color: $mainFontColor;
    height: 250px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;


    .link-group {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 100px;
        display: flex;

    }


    .link-group-item {
        padding-top: 40px;
        margin-right: 150px;
    }

    .link-group-title {
        height: 34px;
        font-size: 20px;
    }

    .link-group-sub {
        margin-top: 20px;
    }

    .link {
        font-size: 17px;
        color: #979ea5;
        height: 30px;
        line-height: 30px;
    }
}


.column-title {
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #6c737a;

    &:after {
        content: ':'
    }
}

.column-text {
    font-family: Monospace;
    font-size: 12px;
}

.nodes-item {
    padding-left: 10px;
    margin: 0;
    color: #455ec7;

    // &:before {
    //     content: '✦'
    // }
}

.text-number {
    color: rgb(100, 45, 45);
}

.text--ellipsis {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.ellipsis--short {
        width: 150px;
    }

    &.ellipsis--mid {
        width: 300px;
    }

    &.ellipsis--long {
        width: 450px;
    }
}
