@import './media.scss';
@import './vars.scss';
@import './layout.scss';

#main {
    background-color: #f8f8f8;
}

.main-body {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
    @include layout-min-960();
}

.page-title {
    display: block;
    font-size: 24px;
    color: $mainFontColor;
    margin-bottom: 24px;
}
