@charset "utf-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
cite,
img,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    font-weight: normal;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img,
a {
    color: #fff;
    -webkit-touch-callout: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

button {
    outline: none;
    padding: 0;
    border: none;
    border-radius: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

i,
em {
    font-style: normal;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

a {
    outline: none;
    text-decoration: none;
    transition: background-color .5s ease 0s, color .5s ease 0s, width .5s ease 0s, border-width .5s ease 0s;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
}

select,
option {
    font-family: inherit;
}

.noselect {
    -webkit-user-select: none;
    user-select: none;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.ant-typography {
    margin: 0 !important;
}


.ant-pagination-item-active {
    background-color: #4837BC;
    color: #fff;
    border-color: none;
}

.ant-pagination-item-active a {
    color: #fff;
}

.ant-btn {
    border-radius: 20.5px;
}


.ant-btn:hover,
.ant-btn:focus {
    border: 1px solid #4837BC;
    color: #4837BC;
}

.ant-btn-primary {
    background: #4837BC;
    border: 1px solid #4837BC;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:focus {
        background: #705EEF;
        color: #fff;
    }
}

.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background-color: #F3F1FC;
}


.ant-tabs-nav .ant-tabs-tab-active {
    color: #6458A5;
}

.ant-tabs-ink-bar {
    background-color: #6458A5;
}

.ant-switch-checked {
    background-color: rgb(124, 109, 210);
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: rgb(124, 109, 210);
}
