@import '../../styles//vars.scss';
@import '../../styles/media.scss';
@import '../../styles/layout.scss';

.header__wrapper {
    background-color: $bgColor;
    height: 75px;
    @include layout-min-960
}

.header__container {
    height: 100%;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 27px;
    position: relative;

    a {
        color: #fff !important;
    }

    @include respond-to ('1920') {
        max-width: 1560px;
    }
}

.logo__wrapper {
    display: flex;
    align-items: center;
    height: 33px;
    margin-right: 20px;
}

.logo--name {
    font-family: IBMPlexSans;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 0 5px;
    margin-left: 10px;
}

.logo--img {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}


.navi__wrapper {
    margin-left: 20px;

    a:visited,
    a:hover {
        color: #fff;
    }
}

.navi__container {
    height: 73px;
    position: relative;
    display: flex;

    .navi-item, .navi-item-disabled {
        width: 120px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.1s linear;
        border-bottom: 3px solid transparent;

        &.active {
            border-color: #fff;
        }

        &:hover {
            border-color: #fff;
        }
    }

    .navi-item-disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .navi-item-disabled:active {
        pointer-events: none;
    }
}
