@import '../../styles//vars.scss';
@import '../../styles/media.scss';
@import '../../styles/layout.scss';

.header__wrapper {
    // background-color: $bgColor;
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(180deg, #5A4BC6 0%, #211A54 100%);
    @include layout-min-960
}

.header__container {
    height: 100%;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 27px;
    position: relative;
    margin: 0 auto;
    width: 1240px;

    a {
        color: #fff !important;
    }

    // @include respond-to ('1920') {
    //     max-width: 1560px;
    // }
}

.logo__wrapper {
    display: flex;
    align-items: center;
    height: 33px;
    margin-right: 20px;
}

.logo--name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 0 5px;
    margin-left: 10px;
}

.logo--img {
    display: block;
    height: 42.5px;
    width: 95.5px;
}


.navi__wrapper {
    margin-left: 20px;
    flex: auto;

    a:visited,
    a:hover {
        color: #fff;
    }
}

.navi__container {
    height: 73px;
    position: relative;
    display: flex;

    .navi-item,
    .navi-item-disabled {
        width: 120px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.1s linear;
        border-bottom: 3px solid transparent;

        &.active {
            border-color: #B0A1FF;
        }

        &:hover {
            border-color: #B0A1FF;
        }
    }

    .navi-item-disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .navi-item-disabled:active {
        pointer-events: none;
    }

    .navi-item:hover {
        background-color: rgba(255, 255, 255, 0.1)
    }
}

.wallet__status__panel {
    height: 100%;
    flex: 0 0 220px;
    width: 220px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    margin-right: -27px;
    padding: 0 27px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1)
    }
}

.wallet__login-status--conntect {
    color: #00FFC6;
}

.wallet__logo {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.wallet__login-button {
    cursor: pointer;
    flex: 1;
    padding-left: 20px;
}

.dos-data--wrapper {
    display: flex;

}

.data-item {
    flex: 1 1 auto;
    margin-right: 22px;
}

.data-title {
    font-size: 12px;
    font-weight: normal;
}

.data-text {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}


.change-lang-button {
    display: flex;
    border: 1px solid #fff;
    width: 66px;
    height: 28px;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 20px;
    font-size: 14px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1)
    }
}
