@import '../../styles//vars.scss';
@import '../../styles/media.scss';
@import '../../styles/layout.scss';

.header__wrapper {
    background-color: $bgColor;
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    @include layout-min-960
}

.header__container {
    height: 100%;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 27px;
    position: relative;
    margin: 0 auto;

    a {
        color: #fff !important;
    }

    @include respond-to ('1920') {
        max-width: 1560px;
    }
}

.logo__wrapper {
    display: flex;
    align-items: center;
    height: 33px;
    margin-right: 20px;
}

.logo--name {
    font-family: IBMPlexSans;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 0 5px;
    margin-left: 10px;
}

.logo--img {
    display: block;
    height: 42.5px;
    width: 95.5px;
}


.navi__wrapper {
    margin-left: 20px;
    flex: auto;

    a:visited,
    a:hover {
        color: #fff;
    }
}

.navi__container {
    height: 73px;
    position: relative;
    display: flex;

    .navi-item,
    .navi-item-disabled {
        width: 120px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.1s linear;
        border-bottom: 3px solid transparent;

        &.active {
            border-color: #fff;
        }

        &:hover {
            border-color: #fff;
        }
    }

    .navi-item-disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .navi-item-disabled:active {
        pointer-events: none;
    }
}

.metamask__status__panel {
    height: 100%;
    flex: 0 0 220px;
    width: 220px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    margin-right: -27px;
    padding: 0 27px;

    &:hover {
        background-color: rgb(95, 95, 95);
    }
}

.metamask__login-status--conntect {
    color: rgb(16, 219, 43)
}

.metamask__logo {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.metamask__login-button {
    font-weight: 600;
    cursor: pointer;

}

.dos-data--wrapper {
    display: flex;

}

.data-item {
    flex: 1 1 auto;
    margin-right: 22px;
}

.data-title {
    font-size: 12px;
    font-weight: normal;
}

.data-text {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}
