@import '../../styles//vars.scss';
@import '../../styles/media.scss';
@import '../../styles/layout.scss';

.header__wrapper {
    // background-color: $bgColor;
    height: var(--nav-height);
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(180deg, #5A4BC6 0%, #211A54 100%);
    @include layout-max-960
}

.header__container {
    height: 100%;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 27px;
    position: relative;
    margin: 0 auto;
    width: auto;

    @include layout-max-960;
    @include layout-min-960-max-1200;
    @include layout-min-1200;

    a {
        color: #fff !important;
    }

    // @include respond-to ('1920') {
    //     max-width: 1560px;
    // }
}

.logo__wrapper {
    display: flex;
    align-items: center;
    height: 33px;
}

.logo--name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 0 5px;
    margin-left: 10px;
}

.logo--img {
    display: block;
    height: 42.5px;
    width: 97px;
    background-image: url('./assets/logo/logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include respond-to ('max960') {
        width: 31.75px;
        height: 27.75px;
        background-image: url('./assets/logo/logo-mini.png');
    }
}


.navi__wrapper {
    margin-left: 20px;
    flex: auto;

    a:visited,
    a:hover {
        color: #fff;
    }
}

.navi__container {
    height: var(--nav-container-height);
    position: relative;
    display: flex;

    .navi-item,
    .navi-item-disabled {
        width: 120px;

        @include respond-to ('max960') {
            width: auto;
            padding: 0 5px;
        }

        @include respond-to ('mobile') {
            width: 50px;
        }

        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.1s linear;
        border-bottom: 3px solid transparent;

        &.active {
            border-color: #B0A1FF;
        }

        &:hover {
            border-color: #B0A1FF;
        }
    }

    .navi-item--title {
        @include respond-to ('mobile') {
            display: none;
        }
    }

    .navi-item-disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .navi-item-disabled:active {
        pointer-events: none;
    }

    .navi-item:hover {
        background-color: rgba(255, 255, 255, 0.1)
    }
}

.wallet__status__panel {
    height: 100%;
    flex: 0 0 180px;
    width: 220px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    margin-right: -27px;
    padding: 0 15px;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1)
    }

    @include respond-to ('max960') {
        flex: 0 0 160px;
        width: 160px;
        padding: 0 5px;
    }
}

.wallet__login-status--conntect {
    color: #00FFC6;
}

.wallet__logo {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.wallet__login-button {
    cursor: pointer;
    flex: 1;
    padding-left: 20px;
}

.wallet__login-logged {
    position: relative;

    &:after {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background-color: #adff2f;
        right: -4px;
        top: -4px;
    }
}

.dos-data--wrapper {
    display: flex;

}

.data-item {
    flex: 1 1 auto;
    margin-right: 22px;
}

.data-title {
    font-size: 12px;
    font-weight: normal;
}

.data-text {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}


.change-lang-button {
    border: 1px solid #fff;
    width: 50px;
    flex: 0 0 50px;
    height: 24px;
    text-align: right;
    border-radius: 24px;
    cursor: pointer;
    margin: 0 20px;
    font-size: 14px;
    position: relative;
    font-size: 12px;
    line-height: 23px;
    padding-right: 5px;
    background-color: #aba7c387;
    overflow: hidden;
    color: #cbc2ff;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1)
    }

    .change-lang--switch {
        height: 20px;
        background-color: #fff;
        border-radius: 20px;
        width: 26px;
        position: absolute;
        left: 1px;
        top: 1px;
        color: #5A4BC6;
        text-align: center;
        line-height: 20px;
        font-size: 10px;
        box-shadow: 3px 0px 11px 0px rgba(82, 88, 99, 0.87)
    }


    @include respond-to('mobile') {
        display: none;
    }
}


.connector-list--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.connector-item {
    flex: 0 0 250px;
    padding: 16px;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid #e1e1e1;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover {
        background-color: #e9f4ff;
    }

    &.item-deactivate {
        display: block;
        padding: 12px;
        text-align: center;
        color: #dc6be5;
        border-radius: 20px;
    }
}

.connector-item--name {
    margin: 0px 12px;
    color: #010101;
    font-weight: 500;
    font-size: 1rem;
}

.connector-item--icon {
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
}
