.explorer-result--wrapper {
    & .ant-table-wrapper {
        background-color: #fff;
    }
}

.search-result--title {
    height: 20px;
    font-family: IBMPlexSans;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
    margin: 10px 0;
    display: block;
}


.txhash--wrapper {
    display: flex;
    align-items: center;
}

.txhash--text {
    width: 200px;
    background-color: #e6e6e6;
    width: 200px;
    padding: 0 5px;
    border-radius: 8px;
    margin-right: 5px;
}

.search-result--wrapper {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    margin: 25px 0;
}
