.search-result--title {
    height: 20px;
    font-family: IBMPlexSans;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
    margin: 10px 0;
    display: block;
}
