.node-detail--wrapper {
    display: flex;
}

.node-detail--infos {
    flex: 1 1 auto
}

.node-detail--operations {
    flex: 0 0 auto;
    flex-basis: 390px;
    background-color: #fff;
    margin-left: 15px;
}

.node-detail--info {
    height: 130px;
    padding: 20px;
    display: flex;
    background-image:url('./assets/nodedetail.png');
    background-size:cover;
}

.node-detail--block {
    box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
}


.info-avatar--wrapper {
    height: 90px;
    width: 90px;
    border-radius: 45px;
    background: #eee;
    margin-right: 40px;
    overflow: hidden;
    border:4px solid #fff;

    img {
        width: 100%;
    }
}

.info-summary--wrapper {
    display: flex;
    flex-direction: column;
}

.info-node {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;

    .node-address {
        margin-right: 10px;
    }
}

.info-opt {
    >.ant-btn {
        margin-right: 20px;
    }
}


.node-detail--detail {
    margin-top: 15px;
    background-color: #fff;
}

.detail--user-info {
    display: flex;
    padding: 23px;

    &>div {
        width: 0px;
        margin: 4px;
        flex: 1 1 auto;
        position: relative;
        // display: flex;
        // flex-direction: column;
        padding: 21px 17px 40px 17px;
        // justify-content: space-between;
    }
}

.user-info--title {
    font-size: 16px;
    font-weight: 600;
    color: #666;
    margin-bottom: 5px;
}

.user-info--value {
    height: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #2F2769;
    .value--frozen{
        margin-left:3px;
        color:#828282;
    }
}

.widthdraw-button {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.user-info--rewards,
.user-info--delegation {
    height: 120px;
    border-radius: 5px;
    border: solid 1px #dfdfdf;
}

.user-info--delegation {
    width: 200px;
    flex: 0 0 auto;
}

.node-detail--item {
    display: flex;
    height: 60px;
    font-size: 14px;
    border-top: 1px solid #dfdfdf;
    padding-left: 50px;
    line-height: 60px;

    &:nth-child(odd) {
        background-color: #fbfbfb;
    }
}

.item--title {
    flex: 0 0 200px;
    text-align: left;
}

.item--value {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.node-detail--operation-tab {
    // background-color: #000000;
}

.node-detail--tab-bar {
    width: 180px;
    font-weight:600;
    text-align: center;
}

.tab-pannel--wrapper {
    padding: 20px;

    .ant-btn-primary {
        width: 100%
    }
}
