@import '../../styles/media.scss';

.market-info--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-to ('mobile') {
        flex-direction: column;
    }
}

.market-info--block {
    flex: 0 0 33%;
    width: 0;
    height: 120px;
    border-radius: 5px;
    padding: 20px 30px;

    &.block--rate {
        background-image: url('./assets/interestRate.png');
        background-size: 100% 100%;
    }

    &.block--token {
        background-image: url('./assets/stakedToken.png');
        background-size: 100% 100%;
    }

    &.block--price {
        background-image: url('./assets/price.png');
        background-size: 100% 100%;
    }

    @include respond-to ('max960') {
        padding: 10px 15px;
    }

    @include respond-to ('mobile') {
        padding: 10px 15px;
        width: 100%;
        margin-bottom: 10px;
    }
}

.block--title {
    font-size: 17px;
    color: #666;
    display: flex;
    align-items: center;

    @include respond-to ('max960') {
        font-size: 14px;
    }

    &>img {
        width: 20px;
        margin-right: 5px;
    }
}

.block--value {
    font-weight: 500;
    font-size: 36px;
    margin-top: 18px;
    color: #6458A5;

    @include respond-to ('max960') {
        font-size: 28px;
    }
}
