@import './styles/reset.scss';
@import './styles/layout.scss';
@import './styles/main.scss';

body {
    margin: 0;
    font-family: 'IBMPlexSans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    src: local('IBMPlexSans'), url('%PUBLIC_URL%/IBMPlexSans-Regular.tff') format('tff');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
